    <p>Guest has booked tbale in Restaurant</p>
    <h3>Name: <%= @user.name %></h3>
    <h3>Email: <%=@user.email%></h3>
    <p>Reservation Details</p>
    <table>
    	<thead>
    		<tr>
    	   <th>Hotel Name</th>
          <th>Table Name</th>
          <th>Booking Date</th>
    		</tr>
    	</thead>
    	<tbody>
    		<td><%= @reservation_details.hotel.name%></td>
    		<td><%= @reservation_details.hotel_seat.name%></td>
    		<td><%= @reservation_details.booking_day.to_date.strftime("%a-%b. %d %Y")%></td>
    	</tbody>
     
    </table>